<footer class="footer">
  <small>
    <%= link_to "What is Iconik Up to?",   root_path %>
    by Chris olson | Thanks to Michael Hartl
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://news.google.com/" target="_blank">News</a></li>
      <li><a href="http://news.railstutorial.org/" target="_blank">Rails Tutorial News</a></li>
    </ul>
  </nav>
</footer>